body {
  margin: 0 auto;
  font-size: 1.125rem;
  background: #f8f8f8;
}
.container {
  width: 100%;
  margin: 0.5em auto;
  color: #707070;
}

h1,
h3 {
  margin: 0 auto;
}

h1 {
  padding: 0.5em;
  font-size: 3rem;
  color: #312614;
}

h3 {
  font-size: 1.5rem;
}
span {
  color: #b7832f;
}
img {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 200px;
}

/*---HEADER AND NAVIGATION---*/
.header {
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-title {
  margin-bottom: 1em;
}
.header-title h1 {
  font-family: "Lora", sans-serif;
  color: #143774;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
}
.header-title p {
  font-family: "ubuntu bold", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
  color: #1792d2;
  font-weight: 700;
  letter-spacing: 0.7px;
}

nav {
  padding: 0;
}
nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "ubuntu bold", sans-serif;
  font-size: 1rem;
}
nav li {
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.25em 0;
}
nav a:hover,
nav a:focus {
  color: #1792d2;
}
.current-page {
  border-bottom: 1px solid #707070;
}
.current-page:hover {
  color: #707070;
}

/* -----------------------
    MAIN CONTENT
---------------------------*/
.column {
  width: 95%;
  font-size: 16px;
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
  align-items: flex-start;
}

.col-one {
  width: 20%;
}

.col-two {
  width: 40%;
}
.col-three {
  width: 70%;
}

.col-bg {
  color: #fff;
  background: #312614;
  padding: 1em;
}

/* MEDIA */
@media (max-width: 600px) {
  .column {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
  .col-bg {
    padding: 0;
  }
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 300px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-bottom: 0.5em;
  }
}
